---
layout: layouts/base.njk
title: Learn Eleventy
---
<div id="site">
  <img src="img/muddyturnip.svg" class="logo" alt="MuddyTurnip logo" width=200px/>
  <h1>Muddy Turnip</h1>
  <h3>Code analysis</h3>
  <p>MuddyTurnip is a GitHub app that uses white box AI to analyse a repo's code quality. It highlights the problematic files and shows whether the quality drops or improves with a commit.</p>
  <p>Use it to find your worst code to clean up in your public repos before an interview, or to silently monitor outsourcers</p>
</div>