---
layout: layouts/base.njk
title: Learn Eleventy
---
<div id="site">
  <img src="img/muddyturnip2.svg" class="logo" alt="MuddyTurnip logo" width=200px/>
  <h1><span class="muddy">Muddy</span><span class="turnip">Turnip</span></h1>
  <h3>Code analysis</h3>
  <p>MuddyTurnip is a GitHub app that uses white box AI to analyse a repo's code quality. 
  It highlights the problematic files and shows whether the quality drops or improves with a commit.</p>
  <ul>
  <li>Before an interview find the worst code in your public repos and tidy it up</li>
  <li>Monitor outsource teams work</li>
  </ul>
</div>